Django==1.9.7
Pygments==2.0.2
Markdown==2.6.3
coreapi==1.23.1

-e git+git://github.com/tomchristie/django-rest-framework.git@7236af32f8993abb642cf36f0e9b1dd4facbeb53#egg=django-rest-framework
-e git+git://github.com/marcgibbons/core-api-swagger.git@2a58bb551f6f12af59e46a5ca44af5945376030d#egg=core-api-swagger

# heroku
# run these commands to setup heroku properly
# heroku create --stack cedar --buildpack git://github.com/heroku/heroku-buildpack-python.git
# heroku config:add BUILDPACK_URL=git@github.com:heroku/heroku-buildpack-python.git#purge
# heroku config:set HEROKU=1
psycopg2==2.6.1
dj-database-url==0.3.0
